Repository purnama/code-review, changes with the owners that .github/CODEOWNERS names for each.
All owners: @purnama/code-review-maintainers, @purnama/backend-team, @purnama/frontend-team, @purnama/database-team, @purnama/devops-team, @purnama/platform-team, @purnama/documentation-team

Update GitHub Actions workflow to use Docker Compose for PostgreSQL with pgvector
  .github/workflows/maven.yml
Owners: @purnama/devops-team

Fix: Update Docker Compose command format in GitHub Actions workflow
  .github/workflows/maven.yml
Owners: @purnama/devops-team

Improve PostgreSQL container readiness check in GitHub Actions workflow
  .github/workflows/maven.yml
Owners: @purnama/devops-team

Fix database initialization: Change Hibernate ddl-auto to validate and fix Flyway migration versioning
  src/main/resources/application.properties
  src/main/resources/db/migration/V2__create_initial_tables.sql
  src/main/resources/db/migration/V3__alter_description_to_text.sql
  src/main/resources/db/migration/V4__alter_content_block_title_to_text.sql
Owners: @purnama/platform-team, @purnama/database-team

Fix Flyway migration issues and optimize GitHub Actions workflow
  .github/workflows/maven.yml
  src/main/resources/application.properties
Owners: @purnama/devops-team, @purnama/platform-team

Fix database schema validation error by adding missing active column to confluence_urls table
  src/main/resources/db/migration/V5__add_active_column_to_confluence_urls.sql
Owners: @purnama/database-team

Add migration for missing embedding column in content_blocks table
  src/main/resources/db/migration/V6__add_embedding_column_to_content_blocks.sql
Owners: @purnama/database-team

Improved Flyway migration debugging and configuration
  .github/workflows/maven.yml
  src/main/resources/application.properties
Owners: @purnama/devops-team, @purnama/platform-team

Fix empty V6 migration script
  src/main/resources/db/migration/V6__add_embedding_column_to_content_blocks.sql
Owners: @purnama/database-team

Add migration for missing confluence_url_id column in content_blocks table
  src/main/resources/db/migration/V8__add_confluence_url_id_column_to_content_blocks.sql
Owners: @purnama/database-team

Add migrations for sequence column and confluence_url_id foreign key
  src/main/resources/db/migration/V7__add_sequence_column_to_content_blocks.sql
  src/main/resources/db/migration/V8__add_confluence_url_id_column_to_content_blocks.sql
Owners: @purnama/database-team

Add Snyk security scanning to GitHub Actions workflow
  .github/workflows/maven.yml
Owners: @purnama/devops-team

Add standard CodeQL workflow file (codeql.yml)
  .github/workflows/codeql.yml
Owners: @purnama/devops-team

Fix SonarCloud analysis parameters in GitHub Actions workflow
  .github/workflows/maven.yml
Owners: @purnama/devops-team

Add Dependabot configuration for automated dependency updates
  .github/dependabot.yml
Owners: @purnama/code-review-maintainers

Fixed test configuration and GitHub workflows
  .github/workflows/codeql.yml
  src/main/resources/application.properties
  src/test/resources/application-test.properties
Owners: @purnama/devops-team, @purnama/platform-team, @purnama/code-review-maintainers

Let Spring Boot manage httpclient5 version
  pom.xml
Owners: @purnama/code-review-maintainers

Fix: Remove duplicate SonarCloud analysis to resolve conflict with automatic analysis
  .github/workflows/maven.yml
Owners: @purnama/devops-team

Security: Use environment variables for PostgreSQL credentials
  .github/workflows/maven.yml
  compose.yaml
  src/main/resources/application.properties
  src/test/resources/application-test.properties
Owners: @purnama/devops-team, @purnama/code-review-maintainers, @purnama/platform-team

Fix: Use consistent environment variable names for database credentials
  src/test/resources/application-test.properties
Owners: @purnama/code-review-maintainers

Switch from H2 to PostgreSQL for tests to ensure pgvector compatibility
  .github/workflows/maven.yml
  src/test/resources/application-test.properties
Owners: @purnama/devops-team, @purnama/code-review-maintainers

Remove unnecessary template properties files
  src/main/resources/application-dev.properties.sample
  src/main/resources/application.template.properties
Owners: @purnama/code-review-maintainers, @purnama/platform-team

Replace regex with string operations in ContentGenerationService for better performance and security
  src/main/java/de/purnama/code_review/service/ContentGenerationService.java
Owners: @purnama/backend-team

Replace regex with string operations in ConfluenceService for better performance and security
  src/main/java/de/purnama/code_review/service/ConfluenceService.java
Owners: @purnama/backend-team

Add OAuth2 authentication with Microsoft and database persistence
  .gitignore
  README.md
  docs/AUTHENTICATION.md
  pom.xml
  src/main/java/de/purnama/code_review/config/SecurityConfig.java
  src/main/java/de/purnama/code_review/controller/AuthController.java
  src/main/java/de/purnama/code_review/controller/HomeController.java
  src/main/java/de/purnama/code_review/model/User.java
  src/main/java/de/purnama/code_review/repository/UserRepository.java
  src/main/java/de/purnama/code_review/security/CustomOAuth2User.java
  src/main/java/de/purnama/code_review/security/CustomOAuth2UserService.java
  src/main/java/de/purnama/code_review/security/OAuth2AuthenticationSuccessHandler.java
  src/main/java/de/purnama/code_review/security/OidcUserInfoFilter.java
  src/main/resources/application.properties
  src/main/resources/db/migration/V10__fix_users_table_id_type.sql
  src/main/resources/db/migration/V6__add_embedding_column_to_content_blocks.sql
  src/main/resources/db/migration/V7__add_sequence_column_to_content_blocks.sql
  src/main/resources/db/migration/V8__add_confluence_url_id_column_to_content_blocks.sql
  src/main/resources/db/migration/V9__create_users_table.sql
  src/main/resources/templates/auth/access-denied.html
  src/main/resources/templates/auth/login.html
  src/main/resources/templates/layout.html
  src/test/java/de/purnama/code_review/CodeReviewApplicationTests.java
  src/test/resources/application-test.properties
  start-local.sh.example
Owners: @purnama/code-review-maintainers, @purnama/documentation-team, @purnama/backend-team, @purnama/platform-team, @purnama/database-team, @purnama/frontend-team

Fix empty migration scripts for content_blocks table columns
  src/main/resources/db/migration/V7__add_sequence_column_to_content_blocks.sql
  src/main/resources/db/migration/V8__add_confluence_url_id_column_to_content_blocks.sql
Owners: @purnama/database-team

Fix: Revert hibernate-vector to 6.6.15.Final for compatibility with Spring Boot 3.5.0
  pom.xml
Owners: @purnama/code-review-maintainers

Add combined Maven and CodeQL workflow
  .github/workflows/codeql.yml
  .github/workflows/maven-codeql.yml
Owners: @purnama/devops-team

Add GitHub Packages publishing and Maven Release workflows
  .github/workflows/maven-codeql.yml
  .github/workflows/maven-release.yml
  pom.xml
Owners: @purnama/devops-team, @purnama/code-review-maintainers

[maven-release-plugin] prepare release v0.0.1
  pom.xml
Owners: @purnama/code-review-maintainers

[maven-release-plugin] prepare for next development iteration
  pom.xml
Owners: @purnama/code-review-maintainers

Fix GitHub Packages authentication for Maven release
  .github/workflows/maven-release.yml
Owners: @purnama/devops-team

[maven-release-plugin] prepare release v0.0.2
  pom.xml
Owners: @purnama/code-review-maintainers

[maven-release-plugin] prepare for next development iteration
  pom.xml
Owners: @purnama/code-review-maintainers

Fix Maven release authentication with custom settings.xml
  .github/workflows/maven-release.yml
Owners: @purnama/devops-team

[maven-release-plugin] prepare release v0.0.3
  pom.xml
Owners: @purnama/code-review-maintainers

[maven-release-plugin] prepare for next development iteration
  pom.xml
Owners: @purnama/code-review-maintainers

Fix version extraction to use project version instead of parent version
  .github/workflows/maven-release.yml
Owners: @purnama/devops-team

[maven-release-plugin] prepare release v0.0.4
  pom.xml
Owners: @purnama/code-review-maintainers

[maven-release-plugin] prepare for next development iteration
  pom.xml
Owners: @purnama/code-review-maintainers

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
*       @purnama/code-review-maintainers

# Backend Java code
/src/main/java/de/purnama/code_review/    @purnama/backend-team

# Frontend templates and static resources
/src/main/resources/templates/   @purnama/frontend-team
/src/main/resources/static/      @purnama/frontend-team

# Database migrations and configuration
/src/main/resources/db/migration/    @purnama/database-team

# CI/CD and GitHub Actions workflows
/.github/workflows/              @purnama/devops-team

# Core configuration
/src/main/resources/application*.properties    @purnama/platform-team

# Documentation
/*.md                            @purnama/documentation-team
