Repository purnama/code-review, changes with the owners that .github/CODEOWNERS names for each.
All owners: @purnama/code-review-maintainers, @purnama/backend-team, @purnama/frontend-team, @purnama/database-team, @purnama/devops-team, @purnama/platform-team, @purnama/documentation-team

.github/CODEOWNERS:

# These owners will be the default owners for everything in the repo.
# Unless a later match takes precedence, they will be requested for
# review when someone opens a pull request.
*       @purnama/code-review-maintainers

# Backend Java code
/src/main/java/de/purnama/code_review/    @purnama/backend-team

# Frontend templates and static resources
/src/main/resources/templates/   @purnama/frontend-team
/src/main/resources/static/      @purnama/frontend-team

# Database migrations and configuration
/src/main/resources/db/migration/    @purnama/database-team

# CI/CD and GitHub Actions workflows
/.github/workflows/              @purnama/devops-team

# Core configuration
/src/main/resources/application*.properties    @purnama/platform-team

# Documentation
/*.md                            @purnama/documentation-team

Add support for sources and javadoc JARs to follow Maven standards
  .github/workflows/maven-release.yml
  pom.xml
Owners: @purnama/devops-team, @purnama/code-review-maintainers

Add SonarCloud integration with quality gate check
  .github/workflows/maven-codeql.yml
  pom.xml
  sonar-project.properties
Owners: @purnama/devops-team, @purnama/code-review-maintainers

Fix SonarQube Quality Gate step in GitHub Actions workflow
  .github/workflows/maven-codeql.yml
Owners: @purnama/devops-team

Simplify SonarCloud configuration to avoid duplication
  .github/workflows/maven-codeql.yml
  sonar-project.properties
Owners: @purnama/devops-team, @purnama/code-review-maintainers

Fix sonar.java.libraries path for SonarCloud analysis
  sonar-project.properties
Owners: @purnama/code-review-maintainers

Update code review project with latest changes
  pom.xml
  src/test/java/de/purnama/code_review/security/CustomOAuth2UserServiceExtendedTest.java
  src/test/java/de/purnama/code_review/security/OAuth2AuthenticationSuccessHandlerTest.java
  src/test/java/de/purnama/code_review/security/OAuth2AuthenticationSuccessHandlerTestExtended.java
  src/test/java/de/purnama/code_review/security/OidcUserInfoFilterTest.java
  src/test/java/de/purnama/code_review/service/ContentBlockServiceTest.java
  src/test/java/de/purnama/code_review/service/EmbeddingServiceTest.java
Owners: @purnama/code-review-maintainers

Fix: improve chunk boundary detection and exception handling in CodeReviewService
  src/main/java/de/purnama/code_review/security/CustomOAuth2UserService.java
  src/main/java/de/purnama/code_review/security/OAuth2AuthenticationSuccessHandler.java
  src/main/java/de/purnama/code_review/service/CodeReviewService.java
  src/test/java/de/purnama/code_review/security/CustomOAuth2UserServiceCallSuperLoadUserTest.java
  src/test/java/de/purnama/code_review/security/CustomOAuth2UserServiceExtendedTest.java
  src/test/java/de/purnama/code_review/security/OAuth2AuthenticationSuccessHandlerLogDetailsTest.java
  src/test/java/de/purnama/code_review/service/CodeReviewServiceTest.java
  src/test/java/de/purnama/code_review/service/ContentBlockServiceTest.java
  src/test/java/de/purnama/code_review/service/EmbeddingServiceTest.java
  src/test/java/de/purnama/code_review/service/MarkdownConverterTest.java
Owners: @purnama/backend-team, @purnama/code-review-maintainers

Fix: Updated ConfluenceUrlServiceTest to expect correct number of fetchConfluenceContent calls
  src/test/java/de/purnama/code_review/service/ConfluenceUrlServiceTest.java
Owners: @purnama/code-review-maintainers

test: fix ConfluenceUrlServiceTest to match actual service call count
  src/test/java/de/purnama/code_review/service/ConfluenceServiceTest.java
  src/test/java/de/purnama/code_review/service/ContentGenerationServiceTest.java
Owners: @purnama/code-review-maintainers

Add and fix tests for ConfluenceService and ConfluenceUrlService, improve coverage for edge cases and exception handling
  src/main/java/de/purnama/code_review/service/ConfluenceService.java
  src/test/java/de/purnama/code_review/service/ConfluenceServiceTest.java
  src/test/java/de/purnama/code_review/service/ConfluenceUrlServiceTest.java
Owners: @purnama/backend-team, @purnama/code-review-maintainers

Fix test files: update githubUrl references to repositoryUrl
  src/test/java/de/purnama/code_review/service/CodeReviewServiceRepositoryTest.java
  src/test/java/de/purnama/code_review/service/CodeReviewServiceTest.java
Owners: @purnama/code-review-maintainers

Update code review service and tests
  src/main/java/de/purnama/code_review/service/CodeReviewService.java
  src/test/java/de/purnama/code_review/service/CodeReviewServiceMethodTests.java
  src/test/java/de/purnama/code_review/service/CodeReviewServiceSingleFileTest.java
  src/test/java/de/purnama/code_review/service/CodeReviewServiceTest.java
Owners: @purnama/backend-team, @purnama/code-review-maintainers

fix: upgrade org.hibernate.orm:hibernate-vector from 6.6.15.Final to 6.6.20.Final
  pom.xml
Owners: @purnama/code-review-maintainers

fix: upgrade org.commonmark:commonmark from 0.24.0 to 0.25.0
  pom.xml
Owners: @purnama/code-review-maintainers

fix: upgrade org.commonmark:commonmark-ext-autolink from 0.24.0 to 0.25.0
  pom.xml
Owners: @purnama/code-review-maintainers

fix: upgrade org.commonmark:commonmark-ext-gfm-tables from 0.24.0 to 0.25.0
  pom.xml
Owners: @purnama/code-review-maintainers

fix: upgrade org.commonmark:commonmark-ext-heading-anchor from 0.24.0 to 0.25.0
  pom.xml
Owners: @purnama/code-review-maintainers

fix: pom.xml to reduce vulnerabilities
  pom.xml
Owners: @purnama/code-review-maintainers
